{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
    <link href="{% static 'form.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
     <form class="registration-form" action="{% url 'accounts:change_password' %}" method="POST">
        {% csrf_token %}

        <h2>Rejestracja</h2>

        <p><input type="password" id="old_password" name="old_password" required placeholder="poprzednie Hasło"></p>
        <p><input type="password" id="password" name="password" required placeholder="hasło"></p>
        <p><input type="password" id="confirm_password" name="confirm_password" required placeholder="Powtórz hasło">
        </p>

        <input type="submit" value="Zmień hasło">

    </form>
{% endblock %}